<style>
  body {
    background: url(img/rd-banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div
  class="row justify-content-center pt-3 animate__animated animate__backInDown"
>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header text-center">
        <h3>Create Observation</h3>
        <h5 class="text-success" ng-bind="createStatus"></h5>
      </div>
      <div class="card-body">
        <form name="createForm">
          <div class="form-group">
            <label for="text" class="font-weight-bold">Text:</label>
            <textarea
              ng-model="observation.text"
              required
              ng-minlength="2"
              name="text"
              class="form-control"
              rows="5"
              id="text"
            ></textarea>
            <span
              ng-show="createForm.text.$touched && createForm.text.$invalid"
              class="text-danger"
            >
              **required and must be at least two characters.**
            </span>
          </div>
          <div class="form-group">
            <label for="type" class="font-weight-bold">Type:</label>
            <br />
            <div ng-repeat="type in types" class="form-check form-check-inline">
              <label class="radio-inline" for="{{type}}">
                <input
                  class="form-check-input"
                  required
                  id="{{type}}"
                  ng-model="observation.type"
                  value="{{type}}"
                  type="radio"
                  name="type"
                /><span
                  ng-show="createForm.type.$touched && createForm.type.$invalid"
                  class="text-danger"
                >
                  **required**
                </span>
                {{type}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="scriptureRef" class="font-weight-bold"
              >Scripture:</label
            >
            <input
              ng-model="observation.scriptureRef"
              required
              type="text"
              class="form-control"
              id="scriptureRef"
              name="scriptureRef"
            />
            <span
              ng-show="createForm.scriptureRef.$touched && createForm.scriptureRef.$invalid"
              class="text-danger"
            >
              **required**
            </span>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <button
          type="button"
          class="btn btn-success"
          ng-disabled="createForm.$invalid || disableCreate"
          ng-click="createObservation()"
        >
          Create
        </button>
        <button type="button" class="btn btn-info" ng-click="clear()">
          Clear
        </button>
        <p></p>
        <button
          type="button"
          class="btn btn-dark btn-block"
          ng-click="goToSearchView()"
        >
          View Observations
        </button>
      </div>
      <div class="card-footer text-center"></div>
    </div>
  </div>
</div>
