<div class="row">
  <div class="col-sm-7">
    <div class="card bg-light">
      <div class="card-header text-center">
        <h3>Update Observation</h3>
        <h5 class="text-success text-center" ng-bind="updateStatus"></h5>
      </div>

      <div class="card-body">
        <form name="updateForm">
          <div class="form-group">
            <label for="text" class="font-weight-bold">Text:</label>
            <textarea
              ng-model="observation.text"
              required
              ng-minlength="2"
              name="text"
              type="text"
              class="form-control"
              id="text"
              rows="5"
            ></textarea>
            <span
              ng-show="updateForm.text.$touched && updateForm.text.$invalid"
              class="text-danger"
            >
              Required and must be at least two characters.
            </span>
          </div>
          <div class="form-group">
            <label for="type" class="font-weight-bold">Type:</label>
            <br />
            <div ng-repeat="type in types" class="form-check form-check-inline">
              <label class="radio-inline" for="{{type}}">
                <input
                  class="form-check-input"
                  id="{{type}}"
                  ng-model="observation.type"
                  value="{{type}}"
                  type="radio"
                  name="type"
                />
                {{type}}
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="scriptureRef" class="font-weight-bold"
              >Scripture:</label
            >
            <input
              ng-model="observation.scriptureRef"
              required
              ng-minlength="2"
              type="text"
              class="form-control"
              id="scriptureRef"
              name="scriptureRef"
            />
            <span class="text-danger" ng-if="!updateForm.scriptureRef.$valid">
              required
            </span>
          </div>
          <div>
            <span class="font-weight-bold">Observation ID:</span>
            <span ng-bind="observation.id" id="id"></span>
          </div>
          <div>
            <span class="font-weight-bold">Create Date:</span>
            <span
              ng-bind="observation.createDateTime | date: 'short'"
              id="create"
            ></span>
          </div>
          <div>
            <span class="font-weight-bold">Update Date:</span>
            <span
              ng-bind="observation.updateDateTime | date: 'short'"
              id="update"
            ></span>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <button
          type="button"
          class="btn btn-success"
          ng-disabled="updateForm.$invalid || disableUpdate"
          ng-click="updateObservation()"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger"
          ng-disabled="disableUpdate"
          ng-click="deleteObservation()"
        >
          Delete
        </button>
        <button type="button" class="btn btn-info" ng-click="goToSearchView()">
          Cancel
        </button>
        <p></p>
        <button
          type="button"
          class="btn btn-dark btn-block"
          ng-click="goToSearchView()"
        >
          View Observations
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="pt-5">
      <img class="img-fluid rounded-circle" src="./img/rd-banner.jpg" />
    </div>
  </div>
</div>
