<style>
  body {
    background: url(img/rd-banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="row justify-content-center pt-3">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header text-center">
        <h3>Update Observation</h3>
        <h5 class="text-success" ng-bind="updateStatus"></h5>
      </div>

      <div class="card-body">
        <form name="updateForm">
          <!-- Text Field -->
          <div class="form-group">
            <label for="text" class="font-weight-bold">Text:</label>
            <textarea
              ng-model="observation.text"
              required
              ng-minlength="2"
              name="text"
              class="form-control"
              rows="5"
              id="text"
            ></textarea>
            <span
              ng-show="updateForm.text.$touched && updateForm.text.$invalid"
              class="text-danger"
            >
              Required and must be at least two characters.
            </span>
          </div>

          <!-- Type Section -->
          <div class="form-group">
            <label for="type" class="font-weight-bold">Type:</label>
            <div ng-repeat="type in types" class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="{{type}}"
                ng-model="observation.type"
                value="{{type}}"
                type="radio"
                name="type"
              />
              <label class="form-check-label" for="{{type}}"> {{type}} </label>
            </div>
          </div>

          <!-- Scripture Reference Field -->
          <div class="form-group">
            <label for="scriptureRef" class="font-weight-bold"
              >Scripture:</label
            >
            <input
              ng-model="observation.scriptureRef"
              required
              type="text"
              class="form-control"
              id="scriptureRef"
              name="scriptureRef"
            />
            <span class="text-danger" ng-if="!updateForm.scriptureRef.$valid">
              Required
            </span>
          </div>

          <!-- Observation Info -->
          <div>
            <span class="font-weight-bold">Observation ID:</span>
            <span ng-bind="observation.id" id="id"></span>
          </div>
          <div>
            <span class="font-weight-bold">Create Date:</span>
            <span
              ng-bind="observation.createDateTime | date: 'short'"
              id="create"
            ></span>
          </div>
          <div>
            <span class="font-weight-bold">Update Date:</span>
            <span
              ng-bind="observation.updateDateTime | date: 'short'"
              id="update"
            ></span>
          </div>
        </form>
      </div>

      <!-- Footer Buttons -->
      <div class="card-footer text-center">
        <button
          type="button"
          class="btn btn-success m-1"
          ng-disabled="updateForm.$invalid || disableUpdate"
          ng-click="updateObservation()"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger m-1"
          ng-disabled="disableUpdate"
          ng-click="deleteObservation()"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-info m-1"
          ng-click="goToSearchView()"
        >
          Cancel
        </button>
        <div class="mt-2">
          <button
            type="button"
            class="btn btn-dark btn-block"
            ng-click="goToSearchView()"
          >
            View Observations
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
